@font-face {
	font-family: 'Slabo27px';
	src: url('file:///android_asset/fonts/Slabo27px-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Slabo27px';
	word-wrap: break-word;
}

a {
	font-weight: bold !important;
    color: #E67E22;
	user-select: none;
	-webkit-user-select: none;
}